.footer {
  position: relative;
  margin-top: -50px;
  padding: 150px 0 30px;
  background: #212326;

  @media (max-width: 991px) {
    padding-top: 80px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(data:image/svg+xml;utf8,%3Csvg%20width%3D%221920%22%20height%3D%22954%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url%28%23prefix__clip0_75_23031%29%22%20fill%3D%22rgba%2825%2C143%2C217%2C1%29%22%3E%3Cpath%20d%3D%22M1321.57%20538C1357.08%20287.516%201273.7%2089.91%201127-.418L1374.18-6c65.77%20100.68-15.89%20431.512-52.61%20544zM312%20955c432.242%200%20746.77-180.667%20850-271-90.34%20157.09-176.766%20246.121-208.688%20271H312z%22%20fill%3D%22rgba%28255%2C255%2C255%2C1%29%22%20fill-opacity%3D%22.25%22%2F%3E%3Cpath%20d%3D%22M1344.5%20427c0-252.4-212.67-390.833-319-428.5H1373c70%2082.4%2010.17%20320-28.5%20428.5z%22%20fill%3D%22rgba%28255%2C255%2C255%2C1%29%22%20fill-opacity%3D%22.1%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M839.644%20954C1138.37%20793.549%201337%20508.902%201337%20184.5c0-63.218-7.54-124.926-21.9-184.5H1920v954H839.644zm0%200C676.842%201041.44%20484.311%201092%20278%201092c-584.87%200-1059-406.302-1059-907.5S-306.87-723%20278-723c511.098%200%20937.63%20310.269%201037.1%20723H0v954h839.644z%22%20fill%3D%22rgba%28255%2C255%2C255%2C1%29%22%20fill-opacity%3D%22.5%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M1011.55%20954C1221.42%20793.95%201353%20564.007%201353%20308.5c0-108.584-23.76-212.552-67.2-308.5H1920v954h-908.45zm0%200c-187.291%20142.83-436.933%20230-711.05%20230C-280.78%201184-752%20792.025-752%20308.5S-280.78-567%20300.5-567c450.743%200%20835.31%20235.692%20985.3%20567H0v954h1011.55z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22prefix__clip0_75_23031%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h1920v954H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E);
    opacity: 0.08;
    transform: scale(1, -1);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 40px;
    }
  }

  &__logo {
    position: relative;
    display: flex;
    align-items: center;
    width: 163px;
    height: 92px;

    @media (max-width: 991px) {
      width: 120px;
      height: auto;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__phone {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    background: $colorPrimary;
    border-radius: 50px;
    transition: all .3s ease;

    @media (max-width: 991px) {
      display: none;
    }

    svg {
      width: 20px;
      height: 20px;
      color: white;
      transition: all .3s ease;
    }

    span {
      color: white;
      font-size: 20px;
      font-weight: 700;
      transition: all .3s ease;
    }

    &:hover, &:focus {
      background: white;

      svg, span {
        color: $colorPrimary;
      }
    }
  }

  &__social {
    display: flex;
    gap: 10px;

    a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 4px;

      svg {
        width: 22px;
        height: 22px;
      }

      &:nth-child(1) {
        background-color: #3f729b;
        border-color: #3f729b;
      }
      &:nth-child(2) {
        background-color: #77e878;
        border-color: #77e878;
      }
    }
  }

  &__menu {
    margin-top: 60px;
    margin-bottom: 20px;
    padding: 40px 0;
    border-top: 1px solid #2c3c53;
    border-bottom: 1px solid #2c3c53;

    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;

      @media (max-width: 991px) {
        flex-direction: column;
        gap: 15px;
      }
    }

    a {
      position: relative;
      color: white;
      font-size: 16px;
      font-weight: 600;

      &:hover {
        color: $colorPrimary;
        text-decoration: underline;
      }
    }
  }

  &__write {
    margin: 16px 0;
    color: rgba(white, .3);
    text-align: center;
  }
}